<div class="float-wrapper">
  <h2 class="comment-count"><%= book_comments.count %>件のコメント</h2>
</div>
<ol>
  <% book_comments.each do |book_comment| %>
    <li class="comment">
      <div class="comment-body bb">
        <div class="comment-avatar">
          <div class="avatar">
            <%= attachment_image_tag(book_comment.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %>
          </div>
        </div>
        <div class="comment-text">
          <div class="comment-author clearfix">
            <div class="link-author"><%= link_to book_comment.user.name, user_path(book_comment.user.id) %>
            </div>
            <span class="comment-meta">
              <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
          </div>
          <div class="comment-entry">
            <%= book_comment.comment %>
          </div>

          <!-- コメント投稿者のみ削除リンク -->
          <% if book_comment.user.id == current_user.id %>
            <%= link_to "削除",book_book_comments_path(book_id: book_comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger", remote: true %></td>
          <% end %>
          <!-- ここまで -->

        </div>
      </div>
    </li>
  <% end %>
</ol>