<div class="row">
  <div class="col-xs-3">

  	<h2>User info</h2>
  	<%= render 'users/profile', user: @user %>

  	<h2>New book</h2>
  	<%= render 'books/newform', book: @book %>

  </div>

  <div class="col-xs-9">
  	<h2>Book detail</h2>

  	<table class="table">
  		<tr class="book_<%= @books.id %>">
        <%= render 'detail', book: @books %>
  		</tr>
  	</table>

    <!-- コメント一覧 -->
    <div class="comment-list bt style" id="comments_<%= @books.id %>">
      <%= render 'comment', book_comments: @books.book_comments %>
    </div>
    <hr>

    <!-- コメントフォーム -->
    <div class="section-title-wrapper">
      <h3 class="section-title left">
        <span>コメント</span>
      </h3>
    </div>
    <%= form_with model:[@books, @book_comment], data: {remote: true} do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_area :comment, rows:'5', class:"form-control",placeholder:"コメントをここに" %>
        </div>
      </div>
      <%= f.submit "送信する", class:"btn btn-lg pull-right" %>
    <% end %>
    <!-- ここまで -->

  </div>
</div>

